<ul class="todos">
    <% for(var i=0; i<todos.length; i++) {%>
      <li class="todo">
        <span><%= todos[i].description %></span>
        <span><%= todos[i].timeEntered %></span>
      </li>
    <% } %>
    </ul>